
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
.container {
  width:80%;
  margin:auto;
}
@media all and (min-width:1000px) {
  .col-1{width:8.36%}
  .col-2{width:16.66%}
  .col-3{width:24.99%}
  .col-4{width:33.32%}
  .col-5{width:41.65%}
  .col-6{width:49.98%}
  .col-7{width:58%}
  .col-8{width:66.64%}
  .col-9{width:74.97%}
  .col-10{width:83%}
  .col-11{width:91%}
  .col-12{width:100%}
}
@media all and (min-width:500px)
{
  .col-1{width:100%}
  .col-2{width:100%}
  .col-3{width:100%}
  .col-4{width:100%}
  .col-5{width:100%}
  .col-6{width:100%}
  .col-7{width:100%}
  .col-8{width:100%}
  .col-9{width:100%}
  .col-10{width:100%}
  .col-11{width:100%}
  .col-12{width:100%}
}

#pill {
  background-color: orange;
  padding: 3px 20px;
  cursor: pointer;
  border-radius: 86px;
}

#modalpill {
  background-color: orange;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 86px;
  color: white;
  border: none;
}

#navbarpill {
  border-radius: 15px;
  background-color: #ee667d;
  margin-left: 650px;
  margin-right: 8px;
  margin-top: 8px;
  height: 30px;
  border: none;
}

.marginnotification {
  margin-right: 15px;
}

input {
  border: none;
  background-color: rgb(238, 102, 125);
  border-radius: 50px;
}

#searchradius1 {
  border-radius: 10px;
  border: none;
  background-color: #ee667d;
  color:white
}

#gradient {
  height: 50px;
  background: linear-gradient(to right, orange, rgb(211, 58, 84));
}

.btn1 {
  min-width: 250px;
}

.tableheading {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 900;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

p.weight {
  font-weight: 900;
}

.header {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 900;
}

.header1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  font-weight: 900;
}

.text {
  border-radius: 4px;
  border: none;
}

.text:hover {
  background-color: gray;
  color: white;
}

.head {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.addheading {
  margin-left: 200px;
}

.formfont {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.sethighlite {
  font-weight: 600;
}

.submitvalue {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.tableheadrow {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

/* .statusalign {
  height:25px;
  width:45px;
  margin-left:62px;
  margin-top:3px;
  border-radius: 15px;
  background-color:rgb(213, 30, 30);
  border:none;
} */
.halign {
  margin-left: 62px;
  margin-top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 33px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(185, 49, 49);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(208, 20, 20);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 80px;
}

.slider.round:before {
  border-radius: 60%;
}